@use '@shared/styles/typography/typography.module' as typo;

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.imageWrapper {
  position: relative;
  background-color: var(--color-white);
  border-radius: 28px;
  padding: 8px;
  width: 100%;
  aspect-ratio: 1; // фиксированное соотношение сторон
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image {
  border-radius: 24px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.placeholder {
  border-radius: 24px;
  width: 100%;
  height: 100%;
  background-color: var(--color-gray-light, #f2f2f2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray, #a1a1a1);
  font-size: 16px;
  font-weight: 500;
}

.badge {
  @include typo.h8;
  width: 58px;
  height: 38px;
  color: var(--color-white);
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: var(--color-blue);
  border-radius: 24px 0 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  @include typo.h4;
  color: var(--color-dark);
  text-transform: uppercase;
  min-height: 56px; // чтобы заголовки были одинаковой высоты
}

.button_inner {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: auto;
}

.button_wrapper {
  margin-top: auto;
  display: flex;
  width: 100%;
}

.price {
  @include typo.h8;
  color: var(--color-yellow);
}
