@use '@shared/styles/breakpoints/breakpoints.module' as *;
.root {
  display: flex;
  gap: 16px;
  margin-bottom: 128px;

  @include media-max(800px) {
    flex-direction: column;
    justify-content: center;
  }
}
