@use '@shared/styles/typography/typography.module' as typo;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  @include typo.b8-regular;
  color: var(--color-dark);
}

.root {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-dark);
  border-radius: 6px;
  @include typo.b3-regular;
  padding: 12px 16px;
  background: var(--color-white);
  position: relative;

  &.success {
    border-color: var(--color-success);
  }

  &.error {
    border-color: var(--color-error);
  }

  &.disabled {
    background: var(--color-grayscale-secondary);
    border-color: var(--color-grayscale-secondary);
  }
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;

  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}

.iconBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: 8px;
}

.eyeIcon {
  width: 16px;
  height: 16px;
  display: block;
}

.helper {
  @include typo.b8-regular;
  color: var(--color-dark);

  &.error {
    color: var(--color-error);
  }
}
