@use './../../../../../6_shared/styles/typography/typography.module' as typo;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  border: none;
  border-radius: 8px;
  max-height: 48px;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;

  &:hover {
    background-color: var(--color-blue-hover);
  }

  &:active {
    transform: scale(0.97);
  }
  &:active {
    transform: scale(0.97); // только пока зажата кнопка
  }
}

.title {
  @include typo.h8;
  color: var(--color-white);
}

/* Размеры */
.small {
  padding: 8px 16px;

  .title {
    @include typo.h8;
  }
}

.medium {
  padding: 16px 16px;

  .title {
    @include typo.h8;
  }
}

.large {
  padding: 22px 32px;

  .title {
    @include typo.h7;
  }
}

.fullWidth {
  width: 100%;
  display: flex;
  align-items: center;
}

/* Вариант по цвету (например, primary) */
.primary {
  background-color: var(--color-blue);
  color: var(--color-white);
  &:focus {
    background-color: var(--color-blue);
    color: var(--color-white);
    outline: none;
  }
}

.secondary {
  background-color: var(--color-dark);
  color: var(--color-white);
  &:focus {
    background-color: var(--color-dark);
    color: var(--color-white);
    outline: none;
  }
  &:hover {
    background-color: var(--color-dark-hover);
  }
}

/* Иконки */
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.left {
    margin-right: 0.5rem;
  }

  &.right {
    margin-left: 0.5rem;
  }
}
