@use '@shared/styles/typography/typography.module' as typo;

.root {
  border-radius: 12px;
  padding: 12px 16px;
  @include typo.h6;
}

.success {
  background-color: var(--color-success);
  color: var(--color-white)
}

.error {
  background-color: var(--color-error);
  color: var(--color-white)
}

.default {
  background-color: var(--color-white);
  color: var(--color-dark)
}
