@use '@shared/styles/breakpoints/breakpoints.module' as *;
.root {
  width: 100%;
}

/* Desktop layout */
.desktopGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* равные отступы между всеми картинками */

  img {
    max-width: 530px;
    max-height: 610px;
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: contain;

    @include media-max($breakpoint-hds) {
      max-width: 430px;
      max-height: 410px;
    }

    @include media-max(1340px) {
      max-width: 330px;
      max-height: 410px;
    }
  }
}

/* Mobile layout */
.mobileSlider {
  display: none;
}

/* Показываем mobile, прячем desktop */
@include media-max(1110px) {
  .desktopGrid {
    display: none;
  }

  .mobileSlider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bigImage {
    max-height: 510px;
    border-radius: 12px;
    margin-bottom: 12px;
    @include media-max(970px) {
      max-width: 400px;
    }

      @include media-max(445px) {
      max-width: 320px;
    }
  }

  .thumbs {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .thumb {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
  }

  .thumbActive {
    opacity: 1;
    border: 2px solid var(--color-dark);
  }

  .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
