@use '@shared/styles/typography/typography.module' as typo;
@use '@shared/styles/breakpoints/breakpoints.module' as *;

.root {
  background-color: var(--color-white);
  border-radius: 16px;
  padding: 24px;
  max-width: 780px;
  flex-grow: 1;

  @include media-max(1280px) {
    max-width: 100%;
  }
  @include media-max(420px) {
    padding: 10px;
  }
}

.title {
  color: var(--color-dark);
  @include typo.h3;
}

.suptitle {
  @include typo.b6-regular;
  color: var(--color-grayscale-primary);
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  gap: 10px;
  @include media-max(420px) {
    padding: 20px;
    padding-bottom: 0;
  }
}

.imageWrapper {
  max-width: 200px;
  max-height: 225px;
  border-radius: 24px;
  cursor: pointer;
  transition: scale 0.3s ease-in-out;

  &:hover {
    scale: 0.95;
  }

  @include media-max(600px) {
    max-height: 255px;
  }
  @include media-max(450px) {
    max-width: 160px;
    max-height: 225px;
  }
  @include media-max(420px) {
  }
}

.detailsWrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
  @include media-max(500px) {
    gap: 10px;
  }
}

.sneakers {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-height: 460px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 40px;

  @include media-max(620px) {
    padding-right: 0;
  }
}

.details {
  display: flex;
  gap: 8px;
  flex-direction: column;
  flex-grow: 1;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    &__name {
      color: var(--color-dark);
      @include typo.h4;
      text-transform: uppercase;
      @include media-max(500px) {
        @include typo.h5;
      }
    }

    &__price {
      color: var(--color-blue);
      @include typo.h4;
      @include media-max(740px) {
        display: none;
      }
      &-mobile {
        display: none;
        @include media-max(740px) {
          display: block;
          color: var(--color-blue);
          @include typo.h4;
        }
        @include media-max(500px) {
          @include typo.h5;
        }
      }
    }
  }

  &__midle {
    text-transform: capitalize;

    @include typo.b5-regular;
    color: var(--color-light-dark);
    @include media-max(500px) {
      @include typo.b6-regular;
    }
  }

  &__footer {
    display: flex;
    gap: 80px;
    text-transform: capitalize;
    @include typo.b5-regular;
    color: var(--color-light-dark);

    @include media-max(600px) {
      gap: 10px;
    }
    @include media-max(500px) {
      @include typo.b6-regular;
    }
  }
}

.actions {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: scale 0.2s ease-in-out;
  &:hover {
    scale: 1.2;
  }
  @include media-max(380px) {
    width: 30px;
    height: 30px;
  }
  &__wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 20px;
    @include media-max(700px) {
      margin-top: 0;
    }
  }
  &__signs {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
    &:hover {
      scale: 1.2;
    }
  }
  &__signs-empty {
    width: 20px;
    height: 20px;
  }
}

.emptyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
  text-align: center;
  background-color: var(--color-white);
  border-radius: 16px;
  min-height: 500px;
  max-width: 800px;
  flex-grow: 1;
}

.emptyImage {
  width: 200px;
  height: auto;
  margin-bottom: 24px;
  opacity: 0.9;
}

.emptyTitle {
  color: var(--color-dark);
  @include typo.h3;
  margin-bottom: 12px;
}

.emptySubtitle {
  color: var(--color-grayscale-primary);
  @include typo.b5-regular;
  margin-bottom: 62px;
}

.sneakers::-webkit-scrollbar {
  width: 6px;
  @include media-max(400px) {
    width: 2px;
  }
}
.sneakers::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 12px;
}

