@use '@shared/styles/typography/typography.module' as typo;

.root {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle at center,
    var(--color-accent),
    var(--color-dark)
  );
  z-index: 9999;
}

.wrapper {
  position: relative;
  width: 120px;
  height: 120px;
}

.circle {
  position: absolute;
  border-radius: 50%;
  border: 3px solid var(--color-blue);
  inset: 0;
  animation: pulse 2s infinite ease-in-out;
}

.circle:nth-child(2) {
  border-color: var(--color-blue-hover);
  animation-delay: 0.4s;
}

.circle:nth-child(3) {
  border-color: var(--color-blue);
  animation-delay: 0.8s;
}

.text {
  @include typo.h6;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -40px;
  color: var(--color-dark);
  letter-spacing: 4px;
  animation: fade 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.3;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.7;
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
