@use './../../../6_shared/styles/typography/typography.module' as typo;
@use '../../../6_shared/styles/breakpoints/breakpoints.module' as *;

.footer {
  width: 100%;
  background-color: var(--color-blue);
  border-radius: 48px;
  
}

.top_section {
  display: flex;
  padding: 64px 72px;
  justify-content: space-between;

  @include media-max($breakpoint-xxl) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.logo_footer {
  max-width: 367px;
  max-height: 112px;
  margin-right: 200px;
  margin-top: 20px;

  @include media-max($breakpoint-xxl) {
    margin-right: 0;
  }
}

.top_info {
  display: flex;
  flex-direction: column;
  max-width: 510px;
  gap: 16px;

  @include media-max($breakpoint-xxl) {
    text-align: center;
  }
}

.title {
  text-transform: uppercase;
  @include typo.h1;
  color: var(--color-white);
}

.suptitle {
  @include typo.b5-regular;
  color: var(--color-grayscale-secondary);
}

.bottom_section {
  position: relative;
  border-radius: 48px 48px 0 0;
  background-color: var(--color-dark);
}

.bottom_logo_wrapper {
  padding-top: 120px;
  
  background-color: var(--color-dark);

  @include media-max($breakpoint-xl) {
    padding-top: 60px;
  }

  @include media-max($breakpoint-md) {
    padding-top: 20px;
  }
}

.bottom_logo {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  background-color: var(--color-dark);
}

.bottom_list {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include media-max($breakpoint-xl) {
    justify-content: center;
    row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  @include media-max($breakpoint-md) {
    display: flex;
    flex-direction: column;
    li {
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      text-align: start;
    }
  }

  @include media-max($breakpoint-laptop) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.bottom_title {
  color: var(--color-yellow);
  padding-bottom: 10px;
  @include typo.h2;
  &_secondary {
    @include typo.h4;
    color: var(--color-yellow);
    font-weight: 600;
    padding-top: 10px;
    margin-bottom: 16px;
  }
}

.bottom_text {
  color: var(--color-grayscale-secondary);
  @include typo.b6-semibold;
  width: 460px;

  @include media-max($breakpoint-xl) {
    width: auto;
  }
}

.bottom_links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--color-grayscale-secondary);
  @include typo.b6-semibold;
  a {
    color: var(--color-grayscale-secondary);
    text-decoration: none;
    transition: text-decoration 0.2s ease;

    &:hover {
      text-decoration: underline;
    }
  }
}

.bottom_icons_wrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;

  align-items: center;
}
