@use '@shared/styles/typography/typography.module' as typo;
@use '@shared/styles/breakpoints/breakpoints.module' as *;
.root {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 500px;
  margin-right: 80px;
  @include media-max(1280px) {
    margin-right: 0;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 20px;
    width: auto;
  }
}

.main-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  color: var(--color-dark);
  @include typo.h3;
  user-select: none;
}

.items {
  display: flex;
  justify-content: space-between;
  color: var(--color-dark);
  @include typo.b5-regular;
}
