@use '@shared/styles/typography/typography.module' as typo;
@use '@shared/styles/breakpoints/breakpoints.module' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;

  &__title {
    @include typo.h3;
    color: var(--color-dark);
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
.sneakersWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  justify-content: center;
  align-items: stretch;
  grid-auto-rows: 1fr;

  @include media-max($breakpoint-laptop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-max($breakpoint-sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}
