:root {
  --color-white: #ffffff;
  --color-white-2: #dddfd9;
  --color-dark: #232321;
  --color-dark-hover: #0e0e0d;
  --color-blue: #4a69e2;
  --color-blue-hover: #3a55c4;
  --color-yellow: #ffa52f;
  --color-grayscale-primary: #70706e;
  --color-grayscale-secondary: #e7e7e3;
  --color-grayscale-bg: #d2d1d3;
  --background: #e7e7e3;
  --color-skeleton-base: #e0e0e0;
  --color-skeleton-highlight: #f0f0f0;
  --color-green: #234d41;
  --color-light-dark: #353336;
  --color-carrot: #f08155;
  --color-light-gray: #c9ccc6;
  --color-concrete: #677282;
  --color-brown: #925513;
  --color-light-brown: #bb8056;
  --color-success: green;
  --color-error: red;
  --color-danger: rgb(194, 46, 46);
  --color-danger-hover: rgb(139, 36, 36);
}
