:root {
  --color-white: #ffffff;
  --color-dark: #232321;
  --color-blue: #4a69e2;
  --color-blue-hover: #3a55c4;
  --color-yellow: #ffa52f;
  --color-grayscale-primary: #70706e;
  --color-grayscale-secondary: #e7e7e3;
}
