:root {
  // Headline
  --h1: 48px;
  --h2: 36px;
  --h3: 32px;
  --h4: 24px;
  --h5: 20px;
  --h6: 16px;
  --h7: 14px;
  --h8: 12px;

  // Body
  --b1: 40px;
  --b2: 36px;
  --b3: 32px;
  --b4: 24px;
  --b5: 20px;
  --b6: 16px;
  --b7: 14px;
  --b8: 12px;
  --b9: 10px;

  // Fonts
  --font-family-rubik: 'Rubik', sans-serif;
  --font-family-open-sans: 'Open Sans', sans-serif;
}
