@use '@shared/styles/breakpoints/breakpoints.module' as *;
.cart {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
  @include media-max(1280px) {
    flex-direction: column;
  }

  &--empty {
    justify-content: center;
    align-items: center;
  }

  &--filled {
    justify-content: space-between;
  }
}
