@use '@shared/styles/typography/typography.module' as typo;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-dark);
  transition:
    color 0.2s ease,
    transform 0.1s ease;

  @include typo.h6;

  &:hover {
    color: var(--color-dark-hover);
  }

  &:active {
    transform: scale(0.97);
  }
}

/* Размеры */
.small {
  @include typo.h7;
}

.medium {
  @include typo.h6;
}

.large {
  @include typo.h5;
}
