$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1280px;

@mixin media-max($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
@mixin media-min($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
